@import "../../../styles/helpers/variables";
@import "../../../styles/smart-grid";

.header {
  font-size: 12px;

  a:not(.link-blue, .link-green) {
    color: $color-grey-5;

    &:hover {
      color: $color-green-3;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 0 32px;

    @include xlm-block() {
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__logo {
      display: flex;

      &--img {
        margin-right: 20px;

        @include lm-block() {
          width: 100px;
          margin-right: 10px;
        }
      }

      &--text {
        line-height: 20px;

        @include md-block() {
          display: none;
        }
      }
    }

    &__rating {
      line-height: 20px;

      &--img {
        margin-top: 4px;
      }

      @include lm-block() {
        display: none;
      }
    }

    &__location {
      display: flex;
      align-items: center;

      &--img {
        margin-right: 10px;
        position: relative;

        svg {
          width: 14px;
          height: 17px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      svg {
        width: 6px;
        height: 7px;
      }

      select {
        background-color: transparent;
        border: none;
        border-bottom: .6px dashed $color-grey-5;
      }

      &--text {
        line-height: 20px;
      }
    }

    &__dir {
      display: flex;

      &--text {
        line-height: 20px;
      }

      .grey {
        font-size: 9px;
      }

      @include lm-block() {
        display: none;
      }
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .link-blue {
        display: inline-flex;
        align-items: center;
      }

      svg {
        width: 6px;
        height: 5px;
        margin: 0 4px;
      }

      &--phone {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  .btn {
    width: 170px;
    height: 60px;
  }
}